<!DOCTYPE HTML>
<head>
	<!-- title here is in EJS syntax from server -->
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<!-- body here is in EJS syntax passed from server -->
	<nav role="navigation" class="navbar nav-themecolor">
		<div class="nav navbar-nav" id="menuToggle">
		   <!-- click receiver -->
			<input type="checkbox" />
			<!-- hamburger -->
			<span></span>
			<span></span>
			<span></span>
			<!--Too bad the menu has to be inside of the button
			but hey, it's pure CSS magic.-->

			<ul id="menu">
			  <div class="col-xs-offset-1 col-xs-10">
				<h3 class="text-center" style="margin-top:-40px;">John Doe<!--Username--></h3><br><br>
				<div class="col-xs-offset-4">
					<img src="/img/user-male.png" class="img-circle"/>
				</div>
				<br><br/><br/>
				<a href="#" class="whitetext">
					<li><i class="fas fa-home"></i> Home
					</li>
				</a><hr/>
				<a href="#" style="color:#ffffff; font-size:20px;">
					<li>
						<i class='fas fa-user-circle'></i> Patient's list
					</li>
					</a><hr/>
				<a href="#" style="color:#ffffff;font-size:20px;">
					<li>
						<i class="far fa-file-alt"></i> Prescription list
					</li>
				</a><hr/>
				<a href="#" style="color:#ffffff;font-size:20px;">
					<li><i class="fas fa-location-arrow"></i> Add Prescription
					</li>
				</a><hr/>
				<a href="#" style="color:#ffffff;font-size:20px;">
					<li><i class="far fa-user-md"></i> Profile
					</li>
				</a> <hr/>
			  </div>
			</ul>
		</div>
		<div class="col-xs-offset-1 col-xs-10" style="padding-top:10px;padding-bottom:10px;">
			<div class="col-xs-10">
			<input type="text" name="patient" id="autocomplete" class="search form-control" placeholder="Search Patient's name"/>
			</div>
			<div class="col-xs-2">
				<i class="fas fa-search"></i>
			</div>
		</div>
		
	</nav>
<!-- body -->
        <div class='container'>
			<!-- page loading -->
			<div class="col-xs-offset-6">
				<br><br>
					<div class="lds-dual-ring"></div>
			</div>

			<div class="autocomplete-suggestions">
			</div><br/><br/>
			<!-- doctor's list of patient -->
			<div class="col-xs-offset-1 col-xs-10">
				<% patients.forEach(function(patient) { %>
					<a href="#">
					<div class="thumbnail">
						<div class="caption">
							<h3><%= patient.name %></h3>
							<h4><%= patient.city %>, <%= patient.state_province %></h4>
							
						</div>
					</div><br>
					</a>
				<% }); %>
			</div>

        </div>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script src="/js/jquery.autocomplete.min.js"></script>

<script >
	var data =  [<% patients.forEach(function(patient) { %>
			{value:'<%-patient.name%>', data:'<%-patient.id%>'},
		<% }); %>];
    $(document).ready(function(){
        $('#autocomplete').devbridgeAutocomplete({
			lookup:data,
			// serviceUrl: '../api/getAllPatients',
			// type: 'GET',
			// dataType:'jsonp',
			// callback: 'callback',
			// crossDomain: true,
			triggerSelectOnValidInput: false,
            onSelect: function (patients) {
                alert('You selected: ' + patients.value 
				);
			
			},
            forceFixPosition:true,
			appendTo: '.autocomplete-suggestions',
        });
    });

    $(window).load(function() {
		// Animate loader off screen
		$(".lds-dual-ring").fadeOut("slow");;
    });

</script>
</body>
</html>	