<!DOCTYPE html>
<html>
    <head>
        <%- include('../common/css.ejs')%>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
            
        <!-- Nav Bar -->
        <%- include('../common/doctor_nav.ejs')%>
        <!-- End of Nav Bar -->

        <% notif.sort(function(a,b){
            return b.date_created - a.date_created;
        })%>
        <ul class="collapsible" data-collapsible="expandable">
            <% for(let x=0; x<notif.length; x++){ %>
                <% let element = notif[x]; %>
                <li class="active">
                <% if(element.ok_flag == 1){ %>
                    <div class="collapsible-header teal lighten-1">
                        <h2 class="right-align white-text flow-text">
                            <%= element.patient_name%>
                        </h2>
                    </div>
                    <div class="collapsible-body black-text">
                        <a href="/doctors/prescriptions/<%= element.presc_id%>">
                            <span>
                                Your prescription has been accepted. <%= element.date_approved%>
                            </span>
                        </a>
                    </div>
                <% }else if(element.cancel_flag == 1){ %>
                    <div class="collapsible-header red lighten-1">
                        <h2 class="right-align white-text flow-text">
                            <%= element.patient_name%>
                        </h2>
                    </div>
                    <div class="collapsible-body black-text">
                        <a href="/doctors/prescriptions/<%= element.presc_id%>">
                            <span>  
                                Your prescription has been rejected. <%= element.date_declined%>
                            </span>
                        </a>
                    </div>
                    <% }else if(element.action_type == "VOID"){ %>
                        <div class="collapsible-header red lighten-1">
                            <h2 class="right-align white-text flow-text">
                                <%= element.patient_name%>
                            </h2>
                        </div>
                        <div class="collapsible-body black-text">
                            <a href="/doctors/prescriptions/<%= element.presc_id%>">
                                <span>  
                                    You have voided this prescription. <%= element.date_created%>
                                </span>
                            </a>
                        </div>
                    <% } %>
          
            </li>
            <% } %>
        </ul>
            <!-- end content goes here   -->
            <%- include('../common/js.ejs')%>
            <script>
            const config = {
                    user: <%- JSON.stringify(user); %>,
                    notif: <%- JSON.stringify(notif); %> 
                };
            </script>
            <!-- start your own js here -->
            <!-- end your own js here   -->
    </body>
</html>