<!DOCTYPE html>
<html>
    <head>
        <%- include('../common/css.ejs')%>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
            
        <!-- Nav Bar -->
        <%- include('../common/navbar.ejs')%>
        <!-- End of Nav Bar -->
        <div class="container">
            <!-- End of Nav Bar -->
    
            <% notif.sort(function(a,b){
                return b.date_created - a.date_created;
            })%>
                <% for(let x=0; x<notif.length; x++){ %>
                    <% let element = notif[x]; %>
                    <% if(element.ok_flag == 1){ %>
                        <div class="card" style="margin-left:5%;">
                            <div class="card-content no-padding">
                                <div class="teal lighten-1 white-text" style="padding:3%;">
                                    <h5>Dr. <%= element.doctor_name%></h5>
                                    <p><%= moment(element.date_approved).format('ll')%></p>
                                </div>
                                <div style="padding:3%;">
                                    <a href="/patients/prescriptions/<%= element.presc_id%>" class="black-text">
                                        <span>
                                            You have received a prescription, from your last checkup with <%= element.doctor_name%> on <%= moment(element.date_approved).format('ll')%>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>                        
                    <% }else if(element.cancel_flag == 1){ %>
                        <div class="card" style="margin-left:5%;">
                                <div class="card-content no-padding">
                                    <div class="red lighten-1 white-text" style="padding:3%;">
                                        <h5>Dr. <%= element.doctor_name%></h5>
                                        <p><%= moment(element.date_declined).format('ll')%></p>
                                    </div>
                                    <div style="padding:3%;">
                                        <a href="/patients/prescriptions/<%= element.presc_id%>" class="black-text">
                                            <span>
                                                You have rejected this prescription on <%= moment(element.date_declined).format('ll')%>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        <% }else if(element.action_type == "VOID"){ %>
                            <div class="card" style="margin-left:5%;">
                                    <div class="card-content no-padding">
                                        <div class="red lighten-1 white-text" style="padding:3%;">
                                            <h5>Dr. <%= element.doctor_name%></h5>
                                        </div>
                                        <div style="padding:3%;">
                                            <a href="/patients/prescriptions/<%= element.presc_id%>" class="black-text">
                                                <span>
                                                    Your prescription has been voided by Dr. <%= element.doctor_name%>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                        <% }else{ %>
                            <div class="card" style="margin-left:5%;">
                                    <div class="card-content no-padding">
                                        <div class="teal lighten-1 white-text" style="padding:3%;">
                                            <h5><%= element.doctor_name%></h5>
                                        </div>
                                        <div style="padding:3%;">
                                            <a href="/patients/prescriptions/<%= element.presc_id%>" class="black-text">
                                                <span>
                                                    You have received a prescription by Dr. <%= element.doctor_name%>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div> 
                        <% } %>
                <% } %>
            </div>
            <!-- end content goes here   -->
            <%- include('../common/js.ejs')%>
            <!-- start your own js here -->
            <script>
                const config = {
                    user: <%- JSON.stringify(user); %>,
                    notif: <%- JSON.stringify(notif); %> 
                };
            </script>
            <!-- end your own js here   -->
    </body>
</html>