
<!DOCTYPE html>
<html>
    <head>
        <%- include('../common/css.ejs')%>

        <!-- start of your own css here -->
        <link type="text/css" rel="stylesheet" href="/css/timeline.css"/>
        <!-- end of your own css        -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        <%- include('../common/navbar.ejs')%>
        <div class="container">
            <div style="padding-top:2%;">
                    <a class='dropdown-button green btn pull-right' href='#' data-activates='dropdown1'>Filter</a></br></br>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li id="li-all"><a>All</a></li>
                        <li id="li-accept"><a>Accepted</a></li>
                        <li id="li-reject"><a>Rejected</a></li>
                        <li id="li-void"><a>Void</a></li>
                    </ul>
            </div>
            <%
            presc.sort(function(a, b){
                return b.date_created - a.date_created;
            });
            %>
            <%    let monthyear = []; %>
            <%    for(let m=0; m<presc.length; m++){ %>
            <%         monthyear.push(moment(presc[m].date_created).format('MMMM YYYY')) %>
            <% } %>
            <%
                function removeDuplicateUsingFilter(arr){
                    let unique_array = [];
                    for(let i = 0;i < arr.length; i++){
                        if(unique_array.indexOf(arr[i]) == -1){
                            unique_array.push(arr[i])
                        }
                    }
                    return unique_array
                }
                let months =  removeDuplicateUsingFilter(monthyear);
                let my = [];
                %>
            
            <% for(m=0; m<months.length; m++){ %>
            <%   my.push({"month":months[m]}); %>
            <% } %>
            <ul class="timeline" style="padding:0% 10%"  data-presc="<%= JSON.stringify(presc)%>">
                    <% for(let mon = 0; mon<my.length; mon++) { %>                
                <li>
                    <div class="timeline-badge green "><span class="fa fa-pencil"></span></div>
                    <div class="speech-bubble-align">
                        <div class="date-speech-bubble grey-text white">January 2018</div>
                    </div>
                    <div class="col s12 m6">
                    <% for(let i=0; i<presc.length; i++) { %>
                    <% let pres = presc[i]; %>
                    <% if(moment(pres.date_created).format('MMMM YYYY') == my[mon].month){ %>                    
                    <a href="prescriptions/<%=pres.id%>">
                        <div class="card" style="margin-left:5%;" id="pres-<%=pres.id%>">
                            <div class="card-content no-padding">
                                <div class="header white-text" style="padding:3%;">
                                    <% for(let x=0; x<doctors.length; x++){%>
                                        <% if(pres.doctor_id == doctors[x].id) {%>
                                        <h5>Dr. <%= doctors[x].name%></h5>
                                        <% }%>
                                    <% }%>
                                    <p><%= moment(pres.date_modified).format('ll')%></p>
                                </div>
                                <div style="padding:3%;" class="details-<%=pres.id%>">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                    <% }%>
                    <% }%>                    
                    </div>
                </li>
                <% }%>
            </ul>
        </div>
            <!-- end content goes here   -->
            
            <%- include('../common/js.ejs')%>
            <!-- start your own js here -->
            <script>
                const config = {
                    user: <%- JSON.stringify(user); %>
                };
            </script>
            <script src="/js/prescriptionlist-patient.js"></script>            
            <!-- end your own js here   -->
            
    </body>
</html>