<!DOCTYPE html>
<html>
    <head>
        <% include ../common/css.ejs %>

        <!-- start of your own css here -->
        <link type="text/css" rel="stylesheet" href="/css/index.css"/>
        <!-- end of your own css        -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
            <% include ../common/navbar.ejs %>
            <% for(let x=0; x<profile.length; x++){ %>
                <% let element = profile[x]; %>
            
            <div class="head teal lighten-1">
                <div class='center-align'>
                    <br><span></span><img src='<%=element.img %>' class='circle responsive'/><br><br><span></span>
                </div>
            </div>
            <div class="container">
                <ul class='collection'>
                    
                    <li class="collection-item"><i class="material-icons grey-text">person</i>
                    <%= element.name%>
                    </li>
                    <li class="collection-item"><i class="material-icons grey-text">mail</i>
                        <%= element.email%>
                    </li>
                    <li class="collection-item"><i class="material-icons grey-text">place</i>
                        <%= element.city%>, <%= element.state_province%>
                    </li>
                    <li class="collection-item"><i class="material-icons grey-text">cake</i>
                        <%= element.date_of_birth%>
                    </li>
                    <% } %>
                </ul>
             </div>

            <% include ../common/js.ejs %>
            <!-- start your own js here -->
            <!-- <script src="/js/patientprofile.js"></script> -->
            
            <!-- end your own js here   -->
    </body>
</html>