<!DOCTYPE html>
<html>
    <head>
        <% include common/css.ejs %>

        <!-- start of your own css here -->
        <link type="text/css" rel="stylesheet" href="/css/index.css"/>
        <!-- end of your own css        -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <style>
        .containers {
            margin: 40px 40px;
        }
        .containers ul {
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }
        .containers ul:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0px;
            height: 100%;
            border: 1px solid #aaa;
        }
        .containers ul li {
            margin: 30px 60px;  
            position: relative;
        }
        .containers ul li span{
            content: '';
            position: absolute;
            top: 0;
            left: -60px;
            width: 0px;
            height: 100%;
            border: 1px solid #aaa;
            text-align: center;
        }
        .containers ul li span:before, .containers ul li span:after {
            content: '';
            width: 10px;
            height: 10px;
            border: 2px solid #aaa;
            position: absolute;
            border-radius: 50%;
            left: -5px;
            background: #fff;
        }
        .chats
            {
            width: 300px;
            margin: 75px auto;
            }
                    .chats > li
            {
            position: relative;
            display: block;
            margin: 15px 0;
            padding: 0;
            min-height: 32px;
            }

        .chats > li > em
            {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            overflow: hidden;
            border: 1px solid #333;
            border-radius: 3px;
            }

        .chats > li > em:after
            {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-top: 1px solid rgba(255, 255, 255, .2);
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            border-radius: 4px;
            }

        .chats > li > em > img
            {
            width: 100%;
            height: 100%;
            }

        .chats > li > blockquote
            {
            position: relative;
            display: block;
            margin: 0 0 0 47px;
            padding: 8px;
            background: #F00;
            border: 1px solid #444;
            background: #FFF;
            background: linear-gradient(to bottom, #FFF 0%, #FFF 100%);
            border-radius: 3px;
            font-size: 12px;
            font-family: "Arial", sans-serif;
            color: #222;
            }

        .chats > li > blockquote:after
            {
            content: "";
            position: absolute;
            top: 5px;
            right: 100%;
            width: 0;
            height: 0;
            border: 4px solid transparent;
            border-top-color: #FFF;
            border-right-color: #FFF;
            }

        .chats > li:nth-child(even) > em
            {
            left: auto;
            right: 0;
            }

        .chats > li:nth-child(even) > blockquote { margin: 0 47px 0 0 }

        .chats > li:nth-child(even) > blockquote:after
            {
            right: auto;
            left: 100%;
            border-right-color: transparent;
            border-left-color: #FFF;
            }
        
        
    </style>
    <body>
            <% include common/navbar.ejs %>

            <!-- start content goes here -->
            <div class="container">
                <!-- Page Content goes here -->
                <div class="card-panel">
                    <div class="row">
                        <div class="col s3 red lighten-1">
                            <!-- this obj is from server -->
                            <h3 class="center-align"><%= obj.notif %></h1>
                        </div>
                        <div class="col s9">
                            <h5 class="center-align">Notification</h5>
                            <h6 class="center-align">Last checked on <%= obj.date %></h6>
                        </div>
                    </div>
                </div>

                <div class="card-panel">
                    <div class="row">
                        <div class="col s3 light-blue">
                            <!-- this obj is from server -->
                            <h3 class="center-align"><%= obj.rx %></h1>
                        </div>
                        <div class="col s9">
                            <h5 class="center-align">RX drafts</h5>
                            <h6 class="center-align">Your drafts</h6>
                        </div>
                    </div>
                </div>

                <div class="card-panel">
                    <div class="row">
                        <div class="col s3  light-blue lighten-2">
                            <!-- this obj is from server -->
                            <h3 class="center-align"><%= obj.pres %></h1>
                        </div>
                        <div class="col s9">
                            <h5 class="center-align">Prescribed patients</h5>
                            <h6 class="center-align">Your patients for <%= obj.month %></h6>
                        </div>
                    </div>
                </div>

                <div class="card-panel">
                    <div class="row">
                        <div class="col s3 purple lighten-3">
                            <!-- this obj is from server -->
                            <h3 class="center-align"><%= obj.pend %></h1>
                        </div>
                        <div class="col s9">
                            <h5 class="center-align">Pending RX</h5>
                            <h6 class="center-align">Not yet accepted prescription</h6>
                        </div>
                    </div>
                </div>

                <hr />
        <div class="containers">
            <ul class="chats"><li>
                <a class="btn-floating green"><i class="material-icons">edit</i></a>
            <blockquote><%= obj.upDate %></blockquote>
            </ul></li>
            <br/>
            <ul class="collapsible" data-collapsible="expandable">
                    <% for(let i =0;i < array.length; i++){ %>
                <li>   
               <span></span>
                  <div class="collapsible-header purple lighten-3 active"><%= array[i] %></div>
                  <div class="collapsible-body">Lorem ipsum dolor sit amet.</div>
                </li>
                <br/>
                <% } %>
              </ul>
        </div>
        </div>
            <!-- end content goes here       -->
            <% include common/js.ejs %>
            <!-- start your own js here -->
            <script src="/js/index.js"></script>
            <!-- end your own js here   -->
    </body>
</html>